<html>

<head>
    <base href="<%- config.domain %>">
    </base>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="socket.io/socket.io.js"></script>
    <script>
        var socket = io("<%- config.domain %>")

        socket.on("server-text", function (data) {
            $("#list").append("<h3>" + data + "</h3>")
        })
        $(document).ready(function () {
            $("#btn").click(function () {
                var text = $("#txt").val();
                socket.emit("send-text", text)
            })
        })
    </script>
</head>

<body>
    <input type="text" id="txt" />
    <input type="button" id="btn" />
    <div id="list"></div>
</body>

</html>